<html>
    <head>
        <title>Error page</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/cb5585e2a9.js" crossorigin="anonymous"></script>
        <style>
            h2{font-family:  'Montserrat';
                font-weight: bold;
                line-height:2.5rem;
                padding-top: 3rem;
                padding-bottom: 3rem;}
        </style>
        
    </head>
    <body>
        <div class= "row">

            <div class="col-lg-6">
                <img src="https://source.unsplash.com/600x400/?coffee,restaurant" alt="iphone-mockup" height="650" width="600">
            </div>
            <div class="phone col-lg-6 col-md-6" >
              <center><h2 class="card-title">ERROR</h2></center>
              <center><p class="card-text">These details are not registered, please login to begin with browsing.</p></center>
              <center><a  href="http://localhost:8000/signup/"> REGISTER</a></center>
              
            </div>
             
            
        </div>
    </body>
</html>
