<html>
    <head>
        <title>Error page</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/cb5585e2a9.js" crossorigin="anonymous"></script>
        <style>
            body{background-color: #06283D;
            color:white;
            padding-right:2rem;}
            h2{font-family:  'Montserrat';
                font-weight: bold;
                line-height:2.5rem;
                padding-top: 3rem;
                padding-bottom: 3rem;
                }
            p{
                padding-bottom:2rem;
            }
        </style>
        
    </head>
    <body>
        <div class= "row">

            <div class="col-lg-6">
                <img src="https://source.unsplash.com/600x400/?coffee,restaurant" alt="iphone-mockup" height="650" width="600">
            </div>
            <div class="phone col-lg-6 col-md-6" >
              <center><h2 class="card-title">Welcome!</h2></center>
              <center><p class="card-text">Browse delicious items, Get best coffee in the town.</p></center>
              <!-- Gallery -->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="https://source.unsplash.com/600x400/?coffee,mug"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
  
      <img
        src="https://source.unsplash.com/600x400/?coffee,restaurant"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
      src="https://source.unsplash.com/600x400/?coffee,toast"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
  
      <img
      src="https://source.unsplash.com/600x400/?coffee,ice"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="https://source.unsplash.com/600x400/?coffee,snacks"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
      <img
        src="https://source.unsplash.com/600x400/?coffee,restaurant"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
  </div>
  <!-- Gallery -->
  <center><h1><i class="fa fa-coffee" aria-hidden="true"></i> Coffee Hut</h1></center>
              
              
            </div>
            
            
        </div>
    </body>
</html>
